body {
}

.location {
    font-size: 10pt;
    width: 48%;
    float: left;
}

.name {
    font-size: 14pt;
    color: blue
}

.armies {
    color: red;
    font-weight: bold;
    width: 48%;
    float: right;
    text-align: right;
}

.cell {
    min-width: 25px;
}